<h1>Articles</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
    <%# beginning of comment %>
    <% if false %>
      Option one
      <a href="/articles/<%= article.id %>">
        <%= article.title %>
      </a>
    <% end %>
    <%# end of comment %>
    
    <%# beginning of comment %>
    <% if false %>
      Option two
      <a href="<%= article_path(article) %>">
        <%= article.title %>
      </a>
    <% end %>
    <%# end of comment %>

    <%# Option three   %>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>
