<div class="d-flex flex-column align-items-center custom-padding-b justify-content-evenly custom-height">
  <div class="d-flex flex-column align-self-end p-2">
    <span>Article created by user id <%= @article.user_id %></span>
    <span><%= @user.name %> wrote this article</span>
  </div>
  <h1><%= @article.title %></h1>
  <p><%= @article.body %></p>
  <ul>
    <li><%= link_to "Edit", edit_article_path(@article) %></li>
    <li><%= link_to "Destroy", article_path(@article), data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
      } %>
    </li>
  </ul>
  <h2>Comments</h2>
  <%= render @article.comments %>
  <h2>Add a comment:</h2>
  <%= render 'comments/form' %>
</div>
