<h1><%= @article.title %></h1>
<h1><%= 'This article belongs to user id number:' %></h1>
<h1><%= @article.user_id %></h1>
<h1><%= @user.name %></h1>

<p><%= @article.body %></p>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
    } %>
  </li>
</ul>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
